#root {
  color: red;
}
.episodeDiv{
  display: inline-flex;
  flex-direction: column;
   width: 25%;
  height: auto; 
 margin: 3em;
 border-style: solid;
 background-color: green;
}
.episodeImg{
  
}
.summary{
  
}
